
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="alert-info" style="font-family:Algerian;text-align:center;color:green">Ovation</h1>
@*<p>
    <img src="~/Images/Image.gif" height="80" width="80"/>
</p>*@
<div class="jumbotron">
    <div class="container">
        <h1 style="font-family:Algerian;color:lightcoral">Eduction</h1>
        <p class="alert-success">
            In geology, eduction is a process in which the Earth crust spreads sideways, exposing deep-seated rocks. It is prominent in middle layers of the Himalayas, where gravity pushes the mountains down. Together with a high grade of erosion, this activity brings deep rocks to the surface, many from more than a depth of 100 km. The unusually fast elevation preserves rare metastable minerals, e.g. diamonds and coesite.
        </p>
    </div>
</div>


